body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-light {
    background-color: #f8f9fa!important;
}

.sidebar .nav-link {
    color: #007bff;
}

.sidebar .nav-link.active {
    color: #fff;
    background-color: #007bff;
}

.main-content {
    padding: 20px;
}
